.DS_Store

*.VC
*.VC.db-shm
*VC.db-wal
*.suo
*.sdf
/Debug/
*.obj
*.log
*.tlog
*.idb
*.pdb
*.exp
*.ilk
*.opensdf
*.db
*.pch
*.res

*.exe
*.o
*.cache
*.ipch
*.lib
*.dll


*.a
*.o
/bin/
.DS_Store



